  <div fxLayout="column" fxFlex>
    <mat-toolbar style="min-height: 60px;" fxLayout="row" fxLayoutAlign="space-between center">
      <h1 style="color: #a4d000" [innerText]="header"></h1>
      <mat-icon title="Close" (click)="closeDialog()" style="font-size: 24px;color: #ef4f34; cursor: pointer;">close</mat-icon>
    </mat-toolbar>
    <div [innerHtml]="message" fxFlex fxLayout="column" fxLayoutAlign="start center" style="padding: 20px; overflow-y: auto;">
    </div>
    <div fxLayoutAlign="end center" style="padding: 12px; border-top: 1px solid #ddd;">
      <button type="submit" (click)="closeDialog()" mat-raised-button color="primary">Close</button>
    </div>
  </div>