.cornered {
    width: 200px;
    height: 0px;
    border-bottom: 25px solid #3b3782;
    border-right: 25px solid white;
}
.text {
  color:white;
  align-items:center;
  display:flex;

  padding:5px 5px;
}